@(message: es.weso.computex.entities.CMessage)(implicit flash:Flash)

@import es.weso.computex.entities._
@import es.weso.computex.entities.CMessage._
@import scala.io.Source._
@import scala.io.Codec._

@if(message.ss){
		<div id="source">
		<h3>Source Listing</h3>
		<p>Below is the source input I used for this validation:</p>
		<pre>
			<code class="prettyprint lang-sparql">
			@for(line <- fromInputStream(message.contentIS)(message.charset).getLines){
@line
			}
			</code>
		</pre>
		<p class="backtop"><a href="#jumpbar">↑ Top</a></p>
	</div>
}