@(message: es.weso.computex.entities.CMessage)(implicit flash: Flash)

@import es.weso.computex.entities.CMessage
@import es.weso.computex.entities.CMessage._
@import helper._

<div id="frontforms">
	<ul id="tabset_tabs">
		<li><a href="/uri"><span>Validate by</span> URI</a></li>
		<li><a href="/file"><span>Validate by</span> File Upload</a></li>
		<li class="selected"><a href="/direct"><span>Validate by</span> Direct Input</a></li>
	</ul>
	<div>
		@helper.form(action = routes.Application.byDirectInputPOST) {
	      	<p class="instructions">
	      		<label title="Paste a complete (TTL) Document here" for="fragment">Enter the .ttl to validate:</label><br>
	      		<textarea id="fragment" name="fragment" rows="90" cols="120">@message.content</textarea>
	      	</p>
			<p class="submit_button">
				<input type="submit" title="Submit for validation" value="Check" ></input>
			</p>
		}
	</div>
</div>