@(message: es.weso.computex.entities.CMessage)(implicit flash:Flash)

@import es.weso.computex.entities._
@import es.weso.computex.entities.Action._
@import es.weso.computex.entities.CMessage._
@import es.weso.utils.JenaUtils._
@import es.weso.computex.profile.Profile
@import helper._
@import Option._

<div id="frontforms">
	@views.html.mainNav(ByURI)
	<div>
		@helper.form(action = routes.URIController.byUriGET(None)) {
	      	<p class="instructions">
				<label title="URI to Validate" for="uri">URI:</label>
				<input type="text" 
					   name="uri" 
					   id="uri" 
					   size="45" 
  					   value="@message.content" 
					   placeholder="http://computex.herokuapp.com@routes.Assets.at("example.ttl")"/> 
			</p>
	      	<p class="instructions">
				<label for="profile">Profile:</label>
				<select id="profile" name="profile">
				@for(p <- Profile.profiles) {
					<option 
					  value="@p" @if(message.profile.name equals p){selected="selected"}>@p</option>
			    }
			    </select>
			</p>
			<p class="instructions">
				<label for="profile">Profile:</label>
				<select id="profile" name="profile">
					<option value="RDF Data Cube" >RDF Data Cube</option>
					<option value="Computex" selected="selected">Computex</option>
					<option value="User defined">User defined (not working yet)</option>
				</select>
	      	</p>
			<p class="instructions">
				<label for="direct-doctype">Use Doctype:</label>
				<select id="direct-doctype" name="doctype">
					<option value="RDF/XML" @if(message.contentFormat equals RdfXML){selected="selected"}>RDF/XML</option>
					<option value="RDF/XML-ABBREV" @if(message.contentFormat equals RdfXMLAbbr){selected="selected"}>RDF/XML-ABBREV</option>
					<option value="TTL" @if(message.contentFormat equals TTL){selected="selected"}>TTL (Default)</option>
					<option value="N-TRIPLE" @if(message.contentFormat equals NTriple){selected="selected"}>N-TRIPLE</option>
					<option value="TURTLE" @if(message.contentFormat equals Turtle){selected="selected"}>TURTLE</option>
					<option value="N3" @if(message.contentFormat equals N3){selected="selected"}>N3</option>
				</select>
	      	</p>
			<p class="instructions">
	      		<input type="checkbox" value="1" id="showSource" name="showSource" @if(message.showSource){checked="checked"}>
	      		<label title="Show Page Source" for="ss">Show&nbsp;Source</label>
	      	</p>
	      	<p class="instructions">
	      		<input type="checkbox" value="1" id="verbose" name="verbose" @if(message.verbose){checked="checked"}>
	      		<label title="Show Verbose Output" for="verbose">Verbose&nbsp;Output</label>
	      	</p>
	      	<p class="instructions">
	      		<input type="checkbox" value="1" id="expand" name="expand" @if(message.expand){checked="checked"}>
	      		<label title="Expand Computex" for="verbose">Expand&nbsp;Computex</label>
	      	</p>
	      	<p class="instructions">
	      		<input type="checkbox" value="1" id="preffix" name="preffix" @if(message.preffix){checked="checked"}>
	      		<label title="Preffix Output" for="preffix">Preffix&nbsp;Output</label>
	      	</p>
	      	<p class="submit_button">
				<input type="submit" 
					   title="Submit for validation" value="Check" class="button"/>
			</p>
		}
	</div>
</div>