@(message: es.weso.computex.entities.CMessage)(implicit flash:Flash)

@import es.weso.computex.entities.CMessage
@import es.weso.computex.entities.CMessage._
@import helper._
@import Option._

<div id="frontforms">
	<nav>
		<ul id="tabset_tabs">
			<li class="selected"><a href="/uri"><span>Validate by</span> URI</a></li>
			<li><a href="/file"><span>Validate by</span> File Upload</a></li>
			<li><a href="/direct"><span>Validate by</span> Direct Input</a></li>
			<li><a href="/about">About</a></li>
		</ul>
	</nav>
	<div>
		@helper.form(action = routes.Application.byUriGET(None)) {
	      	<p class="instructions">
				<label title="Address of page to Validate" for="uri">URI:</label>
				<input type="text" name="uri" id="uri" size="45" value="@message.content"/>
			</p>
			<p class="instructions">
				<label for="direct-doctype">Use Doctype:</label>
				<select id="direct-doctype" name="doctype">
					<option value="RDF/XML">RDF/XML</option>
					<option value="RDF/XML-ABBREV">RDF/XML-ABBREV</option>
					<option value="TTL" selected="selected">TTL</option>
					<option value="N-TRIPLE">N-TRIPLE</option>
					<option value="TURTLE">TURTLE</option>
					<option value="N3">N3</option>
				</select>
	      	</p>
	      	<p class="instructions">
	      		<input type="checkbox" value="1" id="ss" name="ss" @if(message.ss){checked="checked"}>
	      		<label title="Show Page Source" for="ss">Show&nbsp;Source</label>
	      	</p>
	      	<p class="instructions">
	      		<input type="checkbox" value="1" id="verbose" name="verbose" @if(message.verbose){checked="checked"}>
	      		<label title="Show Verbose Output" for="verbose">Verbose&nbsp;Output</label>
	      	</p>
	      	<p class="instructions">
	      		<input type="checkbox" value="1" id="expand" name="expand" @if(message.expand){checked="checked"}>
	      		<label title="Expand Computex" for="verbose">Expand&nbsp;Computex</label>
	      	</p>
	      	<p class="instructions">
	      		<input type="checkbox" value="1" id="prefix" name="prefix" @if(message.prefix){checked="checked"}>
	      		<label title="Prefix Output" for="prefix">Prefix&nbsp;Output</label>
	      	</p>
			<p class="submit_button">
				<input type="submit" title="Submit for validation" value="Check"/>
			</p>
		}
	</div>
</div>