header#banner{
	border-radius: 5px;
	margin: 1.5em 2em;
	background: #365D95 url(../images/head-br.png) bottom right no-repeat;
}

h1#title img {
	margin: 0.4em;
	height: 70px;
	width: 80px
}

footer p{
	text-align: center;
	font-size: 0.9em;
}

#frontforms{
	maring: 0 !important;
	padding:0 !important;
}

#frontforms{
	margin: 2em;
}

#frontforms label{
	background: transparent;
}

.instructions{
	padding-left: 4em;
	padding-right: 4em;
	border-radius: 0 5px 0 0;
}

.instructions input#uri{
	margin: 0 auto;
	width: 100%;
	max-width: none;
	max-height: none;
	background: #ffffff;
}

 .instructions textarea{
	margin: 0 auto;
	width: 100%;
	max-width: none;
	max-height: none;
	background: #ffffff;
}

p.submit_button {
	padding: 0;
	border-radius: 0 0 5px 5px;
}

.submit_button input{
	border-radius: 15px;
	background: white !imporant;
	border: 2px solid;
	margin-bottom: 1em;
	margin-top: 1em;
}

div#results_container{
	padding-top:0;
}

div#result{
	padding:0;
}

.msg_err {
	padding-bottom: 1em!important;
}

.msg_err pre {
	line-height: 0;
	margin-bottom:0;
}

code {
	background-color: #F9F9F9;
	color: black;
	line-height: 1.1em;
	padding: 1em;
	display: block;
	margin: 0!important;
}
