header#banner {
	border-radius: 5px;
	margin: 1.5em 2em;
	background: #365D95;
	border-radious: 5px;
}

header h1 {
	border-radius: 5px;
}

header h1#title img {
	margin: 0.4em;
	height: 70px;
	width: 80px
}

header a {
	background: #365D95;
}

header a:link {
	color: white;
}

header a:visited {
	color: white;
}

ul#tabset_tabs li {
	border-radius: 5px 5px 0 0;
}

ul#tabset_tabs li a:link,ul#tabset_tabs li a:visited {
	border-radius: 0 5px 0 0;
}

ul#tabset_tabs.pills li {
	border-radius: 5px;
}

ul#tabset_tabs.pills li a:link,ul#tabset_tabs.pills li a:visited {
	border-radius: 5px;
}

.doc {
	margin: 0 !important;
}

.doc h2 {
	font-family: Verdana, Arial, sans-serif;
	color: #690;
	background-color: white;
	font-size: 1.1em;
	border-bottom: 1px dotted #aaaa77;
	text-decoration: none;
	margin-top: 1em;
	margin-bottom: 1em;
}

header p#tagline {
	margin: -3em 0 0 9.8em;
}

footer p {
	font-size: small;
	text-align: center;
	color: #888;
	background-color: white;
}

#frontforms {
	maring: 0 !important;
	padding: 0 !important;
}

#frontforms {
	margin: 2em;
}

#frontforms label {
	background: transparent;
}

.instructions:first-child {
	border-radius: 0 5px 0 0;
}

.instructions {
	padding: 0.5em 4em !important;
}

.instructions label,.instructions input,.instructions textarea,.instructions select
	{
	display: inline;
	padding: 0;
	margin: 0;
	vertical-align: middle;
}

.instructions input#uri {
	margin: 0 auto;
	width: 100%;
	max-width: none;
	max-height: none;
	background: #ffffff;
}

.instructions textarea {
	margin: 0 auto;
	width: 100%;
	max-width: none;
	max-height: none;
	background: #ffffff;
}

p.submit_button {
	padding: 0;
	border-radius: 0 0 5px 5px;
}

.submit_button input {
	border-radius: 15px;
	background: white!imporant;
	border: 2px solid;
	margin-bottom: 1em;
	margin-top: 1em;
}

div#results_container {
	padding-top: 0;
}

div#result {
	padding: 0;
}

.msg_err {
	padding-bottom: 1em !important;
}

.msg_err re {
	line-height: 0;
	margin-bottom: 0;
}

code {
	background-color: #F9F9F9;
	color: black;
	line-height: 1.1em;
	padding: 1em;
	display: block;
	margin: 0 !important;
	font-size: 14px;
}

.query pre.hide {
	display: none !important;
}

table {
	width: 100%;
	border-radius: 5px;
}

table th {
	font-size: 0.875em !important;
}

h3.valid {
	color: #55B05A !important;
	background-color: white !important;
}

.asterisk {
	color: #FF9900;
	font-weight: bold;
}

.disclaimer {
	margin-top: 0.5em;
}

#results_container #earl {
	padding: 0;
}

#earl {
	padding: 1.5em 2em;
}

#earl h2 {
	margin-top: 1em;
	margin-bottom: 0.5em;
}

#earl td {
	min-width: 33%;
	max-width: 33%;
	width: 33%;
	line-brak: break-word;
	border: 2px solid #365D95;
}

#earl td a {
	color: #365D95;
}
 
div#frontforms input {
	background: #ffffff;
}

div#frontforms input.button {
	background: #365D95;
}