@(message: es.weso.computex.entities.CMessage)(implicit flash: Flash)

@import es.weso.computex.entities.CMessage
@import es.weso.computex.entities.CMessage._
@import es.weso.utils.JenaUtils._
@import helper._

<div id="frontforms">
	<nav>
		<ul id="tabset_tabs">
			<li><a href="/uri"><span>Validate by</span> URI</a></li>
			<li class="selected"><a href="/file"><span>Validate by</span> File Upload</a></li>
			<li><a href="/direct"><span>Validate by</span> Direct Input</a></li>
			<li><a href="/about">About</a></li>
		</ul>
	</nav>
	<div>
		@helper.form(action = routes.Application.byFileUploadPOST, 'enctype -> "multipart/form-data") {
	      	<p class="instructions">
	      		<label title="Choose a Local File to Upload and Validate" for="uploaded_file">File:</label>
	      		<input type="file" id="uploaded_file" name="uploaded_file"/>
	      	</p>
	      	<p class="instructions">
				<label for="direct-doctype">Use Doctype:</label>
				<select id="direct-doctype" name="doctype">
					<option value="RDF/XML" @if(message.contentFormat equals RDF_XML){selected="selected"}>RDF/XML</option>
					<option value="RDF/XML-ABBREV" @if(message.contentFormat equals RDF_XML_ABBR){selected="selected"}>RDF/XML-ABBREV</option>
					<option value="TTL" @if(message.contentFormat equals TTL){selected="selected"}>TTL (Default)</option>
					<option value="N-TRIPLE" @if(message.contentFormat equals N_TRIPLE){selected="selected"}>N-TRIPLE</option>
					<option value="TURTLE" @if(message.contentFormat equals TURTLE){selected="selected"}>TURTLE</option>
					<option value="N3" @if(message.contentFormat equals N3){selected="selected"}>N3</option>
				</select>
	      	</p>
			<p class="submit_button">
				<input type="submit" title="Submit for validation" value="Check"/>
			</p>
		}
	</div>
</div>