@(message: es.weso.computex.entities.CMessage)(implicit flash: Flash)

@import es.weso.computex.entities.CMessage
@import es.weso.computex.entities.CMessage._
@import es.weso.utils.JenaUtils._
@import helper._

<div id="frontforms">
	
	<nav>
		<span id="validate">Validate by</span>
		<ul id="tabset_tabs">
			<li id="by_uri"><a href="/uri" class="circle-link">URI</a></li>
			<li id="by_file"  class="selected circle-link circle"><a href="/file">File Upload</a></li>
			<li id="by_direct" class="circle"><a href="/direct" class="circle-link">Direct Input</a></li>
		</ul>
	</nav>
	<div>
		@helper.form(action = routes.FileUploadController.byFileUploadPOST, 'enctype -> "multipart/form-data") {
	      	<p class="instructions">
	      		<label title="Select File to Upload" for="uploaded_file">File:</label>
	      		<input type="file" id="uploaded_file" name="uploaded_file"/>
	      	</p>
	      	<p class="instructions">
				<label for="profile">Profile:</label>
				<select id="profile" name="profile">
					<option value="RDF Data Cube">RDF Data Cube</option>
					<option value="Computex">Computex</option>
			    </select>
			</p>
	      	<p class="instructions">
				<label for="direct-doctype">Use Doctype:</label>
				<select id="direct-doctype" name="doctype">
					<option value="RDF/XML" @if(message.contentFormat equals RdfXML){selected="selected"}>RDF/XML</option>
					<option value="RDF/XML-ABBREV" @if(message.contentFormat equals RdfXMLAbbr){selected="selected"}>RDF/XML-ABBREV</option>
					<option value="TTL" @if(message.contentFormat equals TTL){selected="selected"}>TTL (Default)</option>
					<option value="N-TRIPLE" @if(message.contentFormat equals NTriple){selected="selected"}>N-TRIPLE</option>
					<option value="TURTLE" @if(message.contentFormat equals Turtle){selected="selected"}>TURTLE</option>
					<option value="N3" @if(message.contentFormat equals N3){selected="selected"}>N3</option>
				</select>
	      	</p>
	      	<p class="instructions">
	      		<input type="checkbox" value="1" id="showSource" name="showSource" @if(message.showSource){checked="checked"}>
	      		<label title="Show Page Source" for="ss">Show&nbsp;Source</label>
	      	</p>
	      	<p class="instructions">
	      		<input type="checkbox" value="1" id="verbose" name="verbose" @if(message.verbose){checked="checked"}>
	      		<label title="Show Verbose Output" for="verbose">Verbose&nbsp;Output</label>
	      	</p>
	      	<p class="instructions">
	      		<input type="checkbox" value="1" id="expand" name="expand" @if(message.expand){checked="checked"}>
	      		<label title="Expand Computex" for="verbose">Expand&nbsp;Computex</label>
	      	</p>
	      	<p class="submit_button">
				<input type="submit" title="Submit for validation" value="Check" class="button"/>
			</p>
		}
	</div>
</div>