@(model: com.hp.hpl.jena.rdf.model.Model, message: es.weso.computex.entities.CMessage)(implicit flash: Flash)

@import com.hp.hpl.jena.rdf.model.Resource
@import com.hp.hpl.jena.rdf.model.Statement
@import com.hp.hpl.jena.rdf.model.StmtIterator

@main(message) {
		<div id="earl">
			@for(subject <- model.listSubjects.toList) {
				@if(subject.isAnon == false){
					@defining(model.listStatements(subject, null, null)){ iterator1 =>
						@printTable(subject, iterator1)
					}
				}
			}
			@for(subject <- model.listSubjects.toList) {
				@if(subject.isAnon == true){
					@defining(model.listStatements(subject, null, null)){ iterator2 =>
						@printTable(subject, iterator2)
					}
				}
			}
			<h2>Download</h2>
			<a href="@routes.Assets.at("earls/"+message.content)" title="Download EARL Report as TTL">Download the current EARL Report as TTL</a>
	    </div>
}

@printTable(subject: Resource, iterator: StmtIterator) = {
	<h2 id="@subject.hashCode">@subject</h2>
	<table>
		@for(stmt1 <- iterator.toList) {
			@printStatement(stmt1)
		}
	</table>	
}

@printStatement(stmt: Statement) = {
	@defining((stmt.getSubject, stmt.getPredicate, stmt.getObject)){ a =>
		<tr>
			<td>
				<a href="@if(a._1.isAnon){@a._1.hashCode}else{@a._1}">@a._1</a></td>
			<td>
				<a href="@a._2">@a._2</a>
			</td>
			<td>
				<a href="@if(a._3.isAnon){@a._3.hashCode}else{@a._3}">@a._3</a></td>
			</td>
		</tr>
	}	
}