@(message: es.weso.computex.entities.CMessage)(implicit flash:Flash)

@import es.weso.computex.entities.CMessage
@import es.weso.computex.entities.CMessage._

@main(message) {
	
	@{message.action match {
		case URI => uri.defaultUri(message)
		case DIRECT_INPUT => input.defaultInput(message)
		case FILE => file.defaultFile(message)
	
	}}
	<div id="results_container">    
	    <h2 class="@if(message.message equals MSG_OK){valid}else{invalid}">@message.message</h2>
	    <p class="backtop"><a href="#frontforms">↑ Top</a></p>
	    <div id="result">
	    	<h3 class="invalid">Validation Output: @message.size RDF Data Cube Validation Service Errors</h3>
	    	<ol id="error_loop">
	    	@message.errorMessages.zipWithIndex.map { e =>
	    		<li class="msg_err">
	    			<span class="err_type"><img src="http://validator.w3.org/images/info_icons/error.png" alt="Error" title="Error"></span>
	    			<em>Error@{e._2+1}</em>: 
	    			<span class="msg">@e._1._1</span>
	   				<pre>
	   					<code class="input">@e._1._2.trim</code>
		    		</pre>
	    		</li>
	    	}
	    	</ol>
	    <p class="backtop"><a href="#frontforms">↑ Top</a></p>
	    </div>
	</div>
}