@(message: es.weso.computex.entities.CMessage)(implicit flash:Flash)

@import es.weso.computex.entities.CMessage
@import es.weso.computex.entities.CMessage._

@main(message) {
<div id="frontforms">
	<div id="about-weso">
		<a href="/">Back</a>
		<div class="doc">
			<h2>About WESO RG</h2>
			<p>This project validates statistical data with
			  embedded computations which are a superset of <a href="http://www.w3.org/TR/vocab-data-cube/">RDF Data Cube</a> vocabulary.
			</p>
			<p>We have written a <a href="https://github.com/weso/computex/blob/master/doc/positionPaper/document.pdf?raw=true">position paper</a>
			  which contains more information about the Computex validation process</p>
			<p>The source of the project is located in <a href="https://github.com/weso/computex">GitHub</a></p>
			<p>It also validates RDF Data Cube data by executing
			  the 
			  <a href="http://www.w3.org/TR/vocab-data-cube/#wf-rules">Integrity Constraints</a>
			  </p>
			<p>This project has been made by <a href="http://www.weso.es">WESO</a> (WEb Semantics Oviedo)</p>
		</div>
	</div>
</div>
}
