@(title: String)(content: Html)
<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" >
	<!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Computex - @title</title>

		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/foundation.css")" />
		<link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
		<style type="text/css" media="all">
			@@import "http://validator.w3.org/style/base";
            @@import "http://validator.w3.org/style/results";
         </style>
         <link rel="stylesheet" href="@routes.Assets.at("stylesheets/site.css")" />
	</head>
    <body>
    	<div id="banner">
			<h1 id="title">
      			<a href="/"><img alt="W3C" width="110" height="61" id="logo" src="@routes.Assets.at("images/weso.png")"></a>
				<a href="./"><span>COMPUTEX: An RDF Data Cube Validation Service</span></a>
      		</h1>
      	</div>
        @content
		<!--<script>
			document.write('<script src=' + ('@routes.Assets.at("javascripts/vendor/jquery")') + '.js><\/script>')
		</script>
		<!--<script type="text/javascript" src="@routes.Assets.at("javascripts/site.js")"></script>-->
	</body>
</html>