@(action: es.weso.computex.entities.Action.Action)
@import es.weso.computex.entities.Action._

<nav>
	<span id="validate">Validate by</span>
	<ul id="tabset_tabs">
		<li id="by_uri" @if(action == ByURI) { class="selected circle" } else { class="circle"} >	
			<a href="/uri" class="circle-link">URI</a>
		</li>
		<li id="by_file" @if(action == ByFile) { class="selected circle"} else { class="circle"}>
			<a href="/file" class="circle-link">File Upload</a>
		</li>
		<li id="by_direct" @if(action == ByDirectInput) { class="selected circle"} else { class="circle"}>
			<a href="/direct" class="circle-link">Direct Input</a>
		</li> 
	</ul>
</nav>
